@{
    Layout = null;
    //Dit hoort dus eigenlijk in de controller thuis! Hiervoor gebruiken we een ViewBag(dynamic object);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>@ViewBag.Test1</h1>
        <h5>Namen:</h5>
        <div>
            <ul>
                @foreach(var n in ViewBag.Namen)
                {
                    <li>@n</li>
                }
            </ul>
        </div>
    </div>
</body>
</html>
